.body{
    height: 900px;
    background: linear-gradient(white, #ccf);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.footer{
    text-align: center;
    border-top: 1px solid white;
    padding: 10px;

}
