.body{
    height: 100%;
    position: relative;
    background: url('./../../assets/stadium.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 200px;
}

.navbar{
    background-color: rgba(255,255,255,0.7);
    border: none;
    border-radius: 0px;
}

#form{
    height:250px;
    overflow-y: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr{
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.footer{
    text-align: center;
    background: rgba(255,255,255,0.2);
    border-top: 1px solid white;
    padding: 10px;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
}

@media only screen and (max-width: 700px) {
    .events{
        overflow-x: auto;
    }
}
