<div class="body">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/dashboard']" >SoccerZone</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/events']">Events<span class="sr-only">(current)</span></a></li>
            <li><a [routerLink]="['/teams']">Teams</a></li>
            <li><a [routerLink]="['/profile']">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/profile']" *ngIf='user'>{{ user.username }}</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="container">
        <div id="form" class="row">
            <div class="col-xs-12">
                <h2>Create a New Event</h2>
                <form class="form-group" (submit)='newEvent(formData)' #formData='ngForm'>
                  <label>Event</label>
                  <input class="form-control" type="text" name="events" ngModel>
                  <label>Address 1 </label>
                  <input class="form-control" type="text" name="location" ngModel>
                  <label>Address 2</label>
                  <input class="form-control" type="text" name="location2" ngModel>
                  <label>City</label>
                  <input class="form-control" type="text" name="city" ngModel>
                  <label>State</label>
                  <select style="display: block;" name="state" ngModel>
                     <option value="AL">AL</option>
                     <option value="AK">AK</option>
                     <option value="AZ">AZ</option>
                     <option value="AR">AR</option>
                     <option value="CA">CA</option>
                     <option value="CO">CO</option>
                     <option value="CT">CT</option>
                     <option value="DE">DE</option>
                     <option value="DC">DC</option>
                     <option value="FL">FL</option>
                     <option value="GA">GA</option>
                     <option value="HI">HI</option>
                     <option value="ID">ID</option>
                     <option value="IL">IL</option>
                     <option value="IN">IN</option>
                     <option value="IA">IA</option>
                     <option value="KS">KS</option>
                     <option value="KY">KY</option>
                     <option value="LA">LA</option>
                     <option value="ME">ME</option>
                     <option value="MD">MD</option>
                     <option value="MA">MA</option>
                     <option value="MI">MI</option>
                     <option value="MN">MN</option>
                     <option value="MS">MS</option>
                     <option value="MO">MO</option>
                     <option value="MT">MT</option>
                     <option value="NE">NE</option>
                     <option value="NV">NV</option>
                     <option value="NH">NH</option>
                     <option value="NJ">NJ</option>
                     <option value="NM">NM</option>
                     <option value="NY">NY</option>
                     <option value="NC">NC</option>
                     <option value="ND">ND</option>
                     <option value="OH">OH</option>
                     <option value="OK">OK</option>
                     <option value="OR">OR</option>
                     <option value="PA">PA</option>
                     <option value="RI">RI</option>
                     <option value="SC">SC</option>
                     <option value="SD">SD</option>
                     <option value="TN">TN</option>
                     <option value="TX">TX</option>
                     <option value="UT">UT</option>
                     <option value="VT">VT</option>
                     <option value="VA">VA</option>
                     <option value="WA">WA</option>
                     <option value="WV">WV</option>
                     <option value="WI">WI</option>
                     <option value="WY">WY</option>
                  </select>
                  <label>Zipcode</label>
                  <input class="form-control" type="number" name="zipcode" ngModel>
                  <label>Date</label>
                  <input class="form-control" type="date" name="date" ngModel>
                  <label>Time</label>
                  <input class="form-control" type="time" name="time" ngModel>
                  <label> </label>
                  <button class="btn btn-default"><b>New Event</b></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p *ngFor='let err of errors'>{{ err }}</p>
                <hr>
                <h2>All Events</h2>
                <div class="events">
                    <table>
                      <tr>
                        <th>Name</th>
                        <th>Hoster</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Attendees</th>
                        <th>Zipcode</th>
                      </tr>
                      <tr *ngFor='let event of events'>
                        <td><a [routerLink]="['/event', event._id]">{{ event.events }}</a></td>
                        <td>{{ event._user.username }}</td>
                        <td>{{ event.date | date:'yMMMd' }}</td>
                        <td>{{ event.time }}</td>
                        <td>{{ event.attendees.length }}</td>
                        <td>{{ event.zipcode }}</td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <h5>Briggs & Isaac</h5>
        <p>SoccerZone © 2017 · All Rights Reserved</p>
    </div>
</div>
