.body{
    height: 100%;
    background: linear-gradient(white, #ccf);
}

.list-group{
    width: 300px;
    margin-left: 40px;
    padding: 3px;
}

.team{
    margin-left: 30px;
    display: inline-block;
    width: 335px;
    margin-bottom: 40px;
    margin-right: 60px;
}

.mapAndChat{
    vertical-align: top;
    display: inline-block;
    width:600px;
    height: 100%;
    margin-left: 40px;
    margin-bottom: 40px;
}

#googleMap{
    width:500px;
    height:300px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.chatBox{
    vertical-align: top;
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.chatTitle{
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #bbb;
    padding-left: 10px;
    padding-top: 6px;
    width: 398px;
    height: 40px;
    background-color: #337ab7;
}

.chatTitle h3{
    margin: 0px;
    font-weight: 300;
}

.footer{
    text-align: center;
    border-top: 1px solid white;
    padding: 10px;

}
