<div class="body">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/dashboard']" >SoccerZone</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/events']">Events<span class="sr-only">(current)</span></a></li>
            <li><a [routerLink]="['/teams']">Teams</a></li>
            <li><a [routerLink]="['/profile']">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/profile']" *ngIf='user'>{{ user.username }}</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="team" *ngIf='team'>
        <h2>{{ team.name }}</h2>
        <h4>Number of Players: {{ team.players }}/18</h4>
        <div class='list-group'>
          <button type="button" class="list-group-item" *ngFor='let player of team.squad'><a [routerLink]="['/profile',player._id]">{{ player.username }}</a></button>
        </div>
    <button *ngIf='team.players === 18' disabled class="btn btn-success" style="float: right" (click)='joinTeam(team._id)'>Full</button>
    <button *ngIf='team.players !== 18' class="btn btn-success" style="float: right" (click)='joinTeam(team._id)'>Join</button>
    </div>

    <div class="mapAndChat">
        <h3>Location</h3>
        <div id="googleMap"></div>

        <!-- <div class="chatBox">
            <div class="chatTitle">
                <h3 *ngIf="team">Chat Room</h3>
            </div>

        </div> -->
    </div>

    <div class="messageBoard">
      <h4>Add your post here...</h4>
      <form (submit)='teampost(formData, team._id)' #formData='ngForm'>
        <textarea name="post" rows="3" cols="60" ngModel></textarea>
        <br>
        <button>Post</button>
      </form>
      <p *ngFor='let err of errors'> {{ err }}</p>
      <hr>
      <div *ngIf="team">
        <div *ngFor="let p of team.posts">
          <h4> <i>{{ p._user.username }}</i>: {{ p.post }}</h4>

          <div *ngFor="let comment of p.comments">
            <h5> {{ comment._user.username }} - {{ comment.comment}}</h5>
          </div>

          <form (submit)='teamcomment(formData, p._id)' #formData='ngForm'>
            <textarea name="comment" rows="2" cols="40" ngModel></textarea>
            <br>
            <button>Comment</button>
          </form>
          <p *ngFor='let err of commenterrors'> {{ err }}</p>
        </div>
     </div>
   </div>

    <div class="footer">
        <h5>Briggs & Isaac</h5>
        <p>SoccerZone.com © 2017 · All Rights Reserved</p>
    </div>

</div>
