<div class="body">
    <!-- Nav Menu -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/dashboard']">SoccerZone</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/events']">Events<span class="sr-only">(current)</span></a></li>
            <li><a [routerLink]="['/teams']">Teams</a></li>
            <li><a [routerLink]="['/profile']">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href=# *ngIf='user'> Welcome, {{ user.username }}</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Main Banner -->
    <div class="jumbotron">
      <h1>This is Soccer Zone</h1>
      <p>Find Local Soccer Teams and Events</p>
      <p><a [routerLink]="['/teams']">Create New Team</a> or <a [routerLink]="['/events']">Create New Event</a></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="events">
                    <h3>Local Events</h3>
                    <div class="list-group">
                      <a *ngFor="let event of events" [routerLink]="['/event', event._id]" class="list-group-item">
                        <h4 class="list-group-item-heading">{{event.events}}</h4>
                        <p>Date: {{event.date | date: 'mediumDate'}}</p>
                        <p>Time: {{event.time }}</p>
                        <p>Location: {{event.location}}</p>
                        <p>Host: {{event._user.username}}</p>
                      </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="teams">
                    <h3>Local Teams</h3>
                    <table class="table table-bordered">
                      <tr>
                        <td>Name</td>
                        <td>Captain</td>
                        <td>Players</td>
                      </tr>
                      <tr *ngFor='let team of teams'>
                        <td><a [routerLink]="['/team',team._id]">{{ team.name }}</a></td>
                        <td>{{ team._user.username }}</td>
                        <td>{{ team.players }}/18</td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <h5>Briggs & Isaac</h5>
        <p>SoccerZone © 2017 · All Rights Reserved</p>
    </div>

</div>
