.body{
    height: 100%;
    background: url("./../../assets/germanStadium.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar{
    background-color: rgba(255,255,255,0.85);
    border: none;
    border-radius: 0px;
}

.jumbotron{
    background: linear-gradient(-90deg, lightblue, rgba(170, 230, 170, 0.8), lightblue);
    padding: 30px;
    margin-bottom: 10px;

}

.list-group-item{
    background: linear-gradient(rgba(255, 255, 255, 0.8), #f6f6f6);
}

.footer{
    text-align: center;
    background: rgba(255,255,255,0.2);
    border-top: 1px solid white;
    padding: 10px;
}

h3{
    color: white;
}

table {
    font-family: arial, sans-serif;
    width: 200px;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr{
    background: rgba(255,255,255,0.8);
}

@media only screen and (max-width: 380px) {
    .teams{
        overflow-x: auto;
    }
}
