<div class="body">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/dashboard']">SoccerZone</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/events']">Events<span class="sr-only">(current)</span></a></li>
            <li><a [routerLink]="['/teams']">Teams</a></li>
            <li><a [routerLink]="['/profile']">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href=# *ngIf='user'> Welcome, {{ user.username }}</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="jumbotron">
      <h1>This is Soccer Zone</h1>
      <p>Find Local Soccer Teams and Events</p>
      <p><a [routerLink]="['/teams']">Create New Team</a> or <a [routerLink]="['/events']">Create New Event</a></p>
    </div>

    <div class="events">
        <h3>Local Events</h3>
        <div class="list-group">
          <a *ngFor="let event of events" [routerLink]="['/event', event._id]" class="list-group-item">
            <h4 class="list-group-item-heading">{{event.events}}</h4>
            <p class="list-group-item-text">Date: {{event.date | date: 'mediumDate'}}</p>
            <p class="list-group-item-text">Time: {{event.time }}</p>
            <p class="list-group-item-text">Location: {{event.location}}</p>
            <p class="list-group-item-text">Host: {{event._user.username}}</p>
            <button class="btn btn-success" (click)='joinEvent(event._id)'>Join</button>
          </a>
        </div>
    </div>

    <div class="teams">
        <h3>Local Teams</h3>
        <table class="table table-bordered">
          <tr>
            <td>Name</td>
            <td>Players</td>
            <td>Zipcode</td>
            <td>Join</td>
          </tr>
          <tr *ngFor='let team of teams'>
            <td><a [routerLink]="['/team',team._id]">{{ team.name }}</a></td>
            <td>{{ team.players }}/18</td>
            <td>{{ team.zipcode }}</td>
            <td *ngIf='team.players === 18'><button disabled class="btn btn-success" (click)='joinTeam(team._id)'>Full</button></td>
            <td *ngIf='team.players !== 18'><button class="btn btn-success" (click)='joinTeam(team._id)'>Join</button></td>
          </tr>
        </table>
    </div>


    <div class="footer">
        <h5>Briggs & Isaac</h5>
        <p>SoccerZone.com © 2017 · All Rights Reserved</p>
    </div>

</div>
