.body{
    height: 100%;
    background: linear-gradient(white, #ccf);
}

.jumbotron{
    background: linear-gradient(-90deg, pink, lightblue);
    padding: 30px;
    margin-bottom: 10px;

}
.events{
    width: 50%;
    margin-left: 30px;
    display: inline-block;
}
.list-group{
    width: 95%;
    margin-left: 40px;
}

.list-group-item{
    background: linear-gradient(white, #f6f6f6);
}
.teams{
    display: inline-table;
    vertical-align: top;
    margin-left: 30px;
}

.footer{
    text-align: center;
    border-top: 1px solid white;
    padding: 10px;
}


table {
    font-family: arial, sans-serif;
    width: 200px;
    float: right;
    margin-right: 30px;
    margin-left: 40px;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr{
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
