.body{
    height: 100%;
    position: relative;
    background: linear-gradient(white, #ccf);
    padding-bottom: 200px;
}

#banner{
    padding: 30px;
    background: linear-gradient(-90deg, pink, lightblue);
}

#info{
    padding: 50px;
    margin: 40px 100px 0px 100px;
}

.list-group-item{
    background: linear-gradient(-90deg, pink, lightblue);
    font-size: 28px;
    font-weight: 200;
    padding: 50px;
}

.footer{
    text-align: center;
    border-top: 1px solid white;
    padding: 10px;
    position: absolute;
    bottom:0;
    right:0;
    left:0;

}
