.body{
    height: 100%;
    position: relative;
    background: url("./../../../assets/orangeStadium.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 200px;
}

.navbar{
    background-color: rgba(255,255,255,0.9);
    border: none;
    border-radius: 0px;
}

.container{
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding-bottom: 30px;
}

.list-group{
    width: 320px;
    margin-left: 40px;
    padding: 3px;
}

.attendees{
    height: 170px;
    margin-bottom: 10px;
    overflow-y: auto;
}

#googleMap{
    width:500px;
    height:300px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.footer{
    text-align: center;
    background: rgba(255,255,255,0.2);
    border-top: 1px solid white;
    padding: 10px;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
}

.col-sm-6{
    color: white;
}

.col-xs-12{
    color: white;
}

@media only screen and (max-width: 1100px) {
    #googleMap{
        width:300px;
        height:200px;
    }
}
