<div class="body">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/dashboard']">SoccerZone</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/events']">Events<span class="sr-only">(current)</span></a></li>
            <li><a [routerLink]="['/teams']">Teams</a></li>
            <li><a [routerLink]="['/profile']">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/profile']" *ngIf='user'>{{ user.username }}</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div *ngIf='event' class="col-sm-6 col-xs-12">
                <h1>{{ event.events }}</h1>
                <h4>Hosted by: {{ event._user.username }}</h4>
                <h5>{{ event.location}}, {{ event.city }}, {{ event.state }} {{ event.zipcode }}</h5>
                <h5>{{ event.date | date:'yMMMd' }} {{ event.time }}</h5>
                <h5>Members attending:</h5>
                <div class="attendees">
                    <div class="list-group">
                        <button *ngFor='let attendee of event.attendees' type="button" class="list-group-item"><a [routerLink]="['/profile',attendee._id]">{{ attendee.username }}</a></button>
                    </div>
                </div>
                <button disabled *ngIf="containsUser(user, event.attendees)  === true" class="btn btn-success">Joined</button>
                <button *ngIf="containsUser(user, event.attendees)  === false" class="btn btn-success" (click)='joinEvent(event._id)'>Join</button>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h3>Location</h3>
                <div id="googleMap"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="messageBoard">
                    <h4>Add your post here...</h4>
                    <form (submit)='newpost(formData, event._id)' #formData='ngForm'>
                      <textarea class="form-control" name="post" rows="3" cols="60" ngModel></textarea>
                      <br>
                      <button class="btn btn-primary btn-sm" >Post</button>
                    </form>
                    <p *ngFor='let err of errors'> {{ err }}</p>
                    <hr>
                    <div *ngIf="event">
                      <div *ngFor="let p of event.posts">
                        <h4> <i>{{ p._user.username }}</i>: {{ p.post }}</h4>

                        <div *ngFor="let comment of p.comments">
                          <h5> {{ comment._user.username }} - {{ comment.comment}}</h5>
                        </div>

                        <form (submit)='newcomment(formData, p._id)' #formData='ngForm'>
                          <textarea class="form-control" name="comment" rows="2" cols="40" ngModel></textarea>
                          <br>
                          <button class="btn btn-primary btn-sm" >Comment</button>
                        </form>
                        <p *ngFor='let err of commenterrors'> {{ err }}</p>
                      </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <h5>Briggs & Isaac</h5>
        <p>SoccerZone © 2017 · All Rights Reserved</p>
    </div>
</div>
