<a href="/logout">Logout</a>
<a [routerLink]="['/dashboard']">Go Back</a>

<h2 *ngIf='event'>{{ event.events }}</h2>
<h2 *ngIf='event'>{{ event.zipcide }}</h2>
<h2 *ngIf='event'>Hoster: {{ event._user.username }}</h2>
<div *ngIf='event'>
  <ul *ngFor='let attendee of event.attendees'>
    <li>{{ attendee.username }}</li>
  </ul>
  <!-- <h3 *ngFor='let attendee of event.attendees'> {{ attendee.username }}</h3> -->
</div>
<h3 *ngIf='event'>{{ event.date | date:'yMMMd' }}</h3>
<h3 *ngIf='event'>{{ event.time }}</h3>
<h3 *ngIf='event'>{{ event.location }}</h3>
<h3 *ngIf='event'>{{ event.zipcode }}</h3>

<hr>
<h3>Message Board</h3>
