<a href="/logout">Logout</a>
<a [routerLink]="['/dashboard']">Go Back</a>

<h2 *ngIf='event'>{{ event.events }}</h2>
<h2 *ngIf='event'>{{ event.zipcide }}</h2>
<h2 *ngIf='event'>Hoster: {{ event._user.username }}</h2>
<div *ngIf='event'>
  <ul *ngFor='let attendee of event.attendees'>
    <li>{{ attendee.username }}</li>
  </ul>
  <!-- <h3 *ngFor='let attendee of event.attendees'> {{ attendee.username }}</h3> -->
</div>
<h3 *ngIf='event'>{{ event.date | date:'yMMMd' }}</h3>
<h3 *ngIf='event'>{{ event.time }}</h3>
<h3 *ngIf='event'>{{ event.location }}</h3>
<h3 *ngIf='event'>{{ event.zipcode }}</h3>

<hr>
<h3>Message Board</h3>
<h4>Add your post here...</h4>
<form (submit)='newpost(formData, event._id)' #formData='ngForm'>
  <textarea name="post" rows="3" cols="60" ngModel></textarea>
  <br>
  <button>Post</button>
</form>
<p *ngFor='let err of errors'> {{ err }}</p>
<hr>
<div *ngIf="event">
  <div *ngFor="let p of event.posts">
    <h4> <i>{{ p._user.username }}</i>: {{ p.post }}</h4>

    <div *ngFor="let comment of p.comments">
      <h5> {{ comment._user.username }} - {{ comment.comment}}</h5>
    </div>

    <form (submit)='newcomment(formData, p._id)' #formData='ngForm'>
      <textarea name="comment" rows="2" cols="40" ngModel></textarea>
      <br>
      <button>Comment</button>
    </form>
    <p *ngFor='let err of commenterrors'> {{ err }}</p>
  </div>
</div>
