<div class="body">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/dashboard']" >SoccerZone</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/events']">Events<span class="sr-only">(current)</span></a></li>
            <li><a [routerLink]="['/teams']">Teams</a></li>
            <li><a [routerLink]="['/profile']">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/profile']" *ngIf='user'>{{ user.username }}</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <h2>My Profile</h2>
  <h2 *ngIf='user'>Username: {{ user.username}}</h2>
  <h3 *ngIf='user'>First Name: {{ user.first_name}}</h3>
  <h3 *ngIf='user'>Last Name: {{ user.last_name}}</h3>
  <h3 *ngIf='user'>Email: {{ user.email}}</h3>

<div *ngIf="mine" class='myteam'>
  <h5>My Teams</h5>
  <ul *ngFor='let team of mine.teams'>
    <li><a [routerLink]="['/team', team._id]">{{ team.name }}</a> </li>
  </ul>
</div>

<div *ngIf="mine" class='myevents'>
  <h5>My Events</h5>
  <ul *ngFor='let event of mine.events'>
    <li><a [routerLink]="['/event', event._id]">{{ event.events }}</a> </li>
    <li>{{ event.location }}</li>
    <li>{{ event.date }}</li>
    <li>{{ event.time }}</li>
  </ul>
</div>

<div *ngIf="mine">
  <div *ngFor='let profile of mine.profiles'>
    <h4> My Address: {{ profile.address }} </h4>
    <h4> My Age: {{ profile.age }} </h4>
    <h4> My Gender: {{ profile.gender }} </h4>
  </div>
</div>

  <button><a [routerLink]="['profile-new']">Complete my Profile</a></button>
  <div class="profileform">
    <router-outlet></router-outlet>
  </div>

</div>
