<a href="/logout">Logout</a>
<a [routerLink]="['/dashboard']">Go Back</a>
<h2>This is the team page, user should seen the teams in the area as well as the new team form</h2>


<h3>Create a new team</h3>
<form (submit)='newteam(formData)' #formData='ngForm'>
  <label>Name: </label>
  <input type="text" name="name" ngModel>
  <label>Zipcode: </label>
  <input type="number" name="zipcode" ngModel>
  <button>New Team</button>
</form>

<p *ngFor='let err of errors'>{{ err }}</p>
<hr>
<h3>All teams</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Captain</th>
    <th>Players</th>
    <th>Zipcode</th>
    <th>Action</th>
  </tr>
  <tr *ngFor='let team of teams'>
    <td><a [routerLink]="['/team', team._id]">{{ team.name }}</a></td>
    <td>{{ team._user.username }}</td>
    <td>{{ team.players }}</td>
    <td>{{ team.zipcode }}</td>
    <td><button (click)='jointeam(team._id)'>Join</button></td>
  </tr>
</table>
